// Color
//------------------------------------------------------------------------------

$white        : #fff;
$black        : #131619;
$gray-10      : #222;
$gray-20      : #333;
$gray-25      : #444;
$gray-30      : #666;
$gray-35      : #8e8e8e;
$gray-40      : #999;
$gray-45      : #aaa;
$gray-50      : #ccc;
$gray-55      : #8c8c8c;
$gray-60      : #ddd;
$gray-70      : #ebebeb;
$gray-80      : #f3f3f3;
$gray-90      : #f7f7f7;
$offwhite     : #ececec;


$maroon: #651525;
$maroon-900: #7f3c49;
$maroon-700: #98636e;
$maroon-500: #b28a92;
$maroon-300: #ccb1b6;
$maroon-100: #e0d0d3;

$orange: #f15a2e;
$orange-900: #f37651;
$orange-700: #f69174;
$orange-500: #f8ac96;
$orange-300: #fac8b9;
$orange-100: #fcded5;

$gold: #eea335;
$gold-900: #f1b257;
$gold-700: #f4c278;
$gold-500: #f6d19a;
$gold-300: #f9e0bc;
$gold-100: #fcedd7;


$accent       : $orange;
$accent-light : lighten($accent, 25%);
$accent-lightest: #FCF6F6;
$accent-dark  : darken($accent, 15%);
$heading-color: $maroon;


.masthead {
    background: $maroon;
}
.search-container .icon {
    background: $orange;
}
.search-container .icon:hover, 
.search-container:hover .icon:hover, 
#main-search-page .main-item .search-container:hover .icon:hover,
#main-search-page .main-item .search-container .icon:hover {
    background: $maroon;
}

#main-search-page .main-item .search-container .icon
.button.btn-cat {
    background: $maroon;
    color: $white;
}

// Type Styles
//------------------------------------------------------------------------------

a {
    color: $maroon;
}

body {
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1.5;
    color: $black;
}

.button {
    font-weight: 600;
}

.button.btn-cat, .button.btn-homepage {
    border-radius: 50px;
}

.button.btn-cat:hover{
    background: $accent;
    color: $white;
}

.button.btn-homepage {
    font-size: 20px;
    width: 100%;


    background: $maroon;
    color: $white;

    &:hover {
        background: $orange;
        color: $white;
    }
}

.button.btn-plaintext:hover {
    color: $accent;
}

// Header Bar
//------------------------------------------------------------------------------


.masthead .container .branding .branding-heading .logo {
    filter: invert(100%) grayscale(100%) brightness(200%);
}

.masthead .container .branding .branding-label a:hover {
    color: $accent;
}

.breadcrumb-item {
    color: $accent;
}

.breadcrumb-item a:hover,.breadcrumb-item a:visited {
    color: $white;
    text-decoration-line: underline;
    text-decoration-color: $accent;
}

.g-upper-body .tool a:hover,.g-upper-body .tool a:hover .fa {
    color: $accent;
}


// Main Content Area
//------------------------------------------------------------------------------

.g-upper-body h1.headline {
    font-weight: 800;
}

.g-body .g-main-content span[style*="text-decoration"][style*="underline"]:has(> a) {
    // Google docs sends link underlines as a wrapped span, gotta get rid of that
    text-decoration: none !important;
}
.g-body .g-main-content a {
    color: currentColor;

    text-decoration-style: underline;
    text-decoration-color: $maroon;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    font-weight: 500;
}

.g-body .g-main-content > * {
    margin-bottom: 1.125em
}

.g-body .g-main-content p {
    margin-bottom: 1em;
}
.g-body .g-main-content p:empty {
    // Hide empty p tags that google docs incentivizes you creating
    display: none;
}

.g-body .g-main-content li + li {
    margin-top: 0.5rem;
}
.g-body .g-main-content li:empty {
    // Hide any empty list items
    display: none;
}


.g-body .g-left-panel .section-kicker {
    text-transform: uppercase;
    font-weight: 700;
}

.g-body .g-left-panel ul:is(.section, .sibling) li:has(> a:empty) {
    // Hides empty links in the sidebar
    display: none;
}
.g-body .g-left-panel ul:is(.section, .sibling):has(ul.subsection) > li {
    font-weight: 500;
    padding-block: 8px;
}
.g-body .g-left-panel ul:is(.section, .sibling) li:has(+ li > ul.subsection) {
    // Checks if this li has a subsection following it since the markup isn't actually heirarchical for some reason
    border-bottom: 0;
    padding-block-end: 0;
}
.g-body .g-left-panel ul:is(.section, .sibling) li:has(> ul.subsection) {
    padding-block-start: 0;
}


// Search Page
//------------------------------------------------------------------------------

#main-search-page .main-item .branding .branding-label, .masthead .container .branding .branding-label {
    font-weight: 700;
}
#main-search-page .main-item .featured-cat .cat-container.style-docs ul a:hover {
    color: $white;
}