// Color
//------------------------------------------------------------------------------

$white        : #fff;
$black        : #131619;
$gray-10      : #222;
$gray-20      : #333;
$gray-25      : #444;
$gray-30      : #666;
$gray-35      : #8e8e8e;
$gray-40      : #999;
$gray-45      : #aaa;
$gray-50      : #ccc;
$gray-55      : #8c8c8c;
$gray-60      : #ddd;
$gray-70      : #ebebeb;
$gray-80      : #f3f3f3;
$gray-90      : #f7f7f7;
$offwhite     : #ececec;
$accent       : #f15a2e;
$accent-light : lighten($accent, 25%);
$accent-lightest: #FCF6F6;
$accent-dark  : darken($accent, 15%);
$heading-color: #651525;

body {
    color: $black;
}

.masthead {
    background: $heading-color;
}
.search-container .icon {
    background: $accent;
}
.search-container .icon:hover, .search-container:hover .icon:hover, #main-search-page .main-item .search-container:hover .icon:hover, #main-search-page .main-item .search-container .icon:hover {
    background: $heading-color;
}
#main-search-page .main-item .search-container .icon

.button.btn-cat {
    background: $heading-color;
    color: $white;
}

// Type Styles
//------------------------------------------------------------------------------

a {
    color: $heading-color;
}

a:hover {
    color: $accent;
}

body {
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1.5;
}

.button.btn-cat {
    font-weight: 600;
}

#main-search-page .main-item .branding .branding-label, .masthead .container .branding .branding-label {
    font-weight: 700;
}
.masthead .container .branding .branding-label a:hover {
    color: $accent;
}

.breadcrumb-item {
    color: $accent;
}

.breadcrumb-item a:hover,.breadcrumb-item a:visited {
    color: $white;
    text-decoration: underline;
    text-decoration-color: $accent;
}

.g-upper-body .tool a:hover,.g-upper-body .tool a:hover .fa {
    color: $accent;
}

.button.btn-plaintext:hover {
    color: $accent;
}

.g-main-content > p {
    margin: 0 0 1.125rem 0;
}

// Layout & Styles
//------------------------------------------------------------------------------

.masthead .container .branding .branding-heading .logo {
    filter: none;
}

.button.btn-cat {
    border-radius: 50px;
}

.button.btn-homepage:hover, .button.btn-cat:hover{
    background: $accent;
    color: $white;
}

.button.btn-homepage {
    -webkit-box-shadow: 2.5px 2.5px 0px -1px $accent;
    -moz-box-shadow: 2.5px 2.5px 0px -1px $accent;
    box-shadow: 2.5px 2.5px 0px -1px $accent;
}

#main-search-page .main-item .featured-cat .cat-container.style-docs ul a:hover {
    color: $white;
}