@use "vars" as *;
@use "theme" as *;

// Color
//------------------------------------------------------------------------------

.masthead {
    background: $maroon;
}
.search-container .icon {
    background: $orange;
}
.search-container .icon:hover,
.search-container:hover .icon:hover,
#main-search-page .main-item .search-container:hover .icon:hover,
#main-search-page .main-item .search-container .icon:hover {
    background: $maroon;
}

#main-search-page .main-item .search-container .icon .button.btn-cat {
    background: $maroon;
    color: $white;
}

// Type Styles
//------------------------------------------------------------------------------

a {
    color: $maroon;
}

body {
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: $black;
}

.button {
    font-weight: 600;
}

.button.btn-cat,
.button.btn-homepage {
    border-radius: 50px;
}

.button.btn-cat:hover {
    background: $accent;
    color: $white;
}

.button.btn-homepage {
    font-size: 18px;
    padding: 10px 25px;

    background: $maroon;
    color: $white !important;

    box-shadow: none;

    &:hover {
        background: $orange;
        color: $white;
    }
}

.button.btn-plaintext:hover {
    color: $accent;
}

// Header Bar
//------------------------------------------------------------------------------

.masthead .container .branding .branding-heading .logo {
    filter: invert(100%) grayscale(100%) brightness(200%);
}

.masthead .container .branding .branding-label a {
    color: $white;
}
.masthead .container .branding .branding-label a:hover {
    color: $orange;
}

.breadcrumb {
    margin: 12px 0;
    padding-left: 12px;
}

.breadcrumb-item {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.01em;
    line-height: 17px;

    color: $orange;

    a {
        text-underline-offset: 2px;
    }

    a:link,
    a:visited {
        color: $white;
        text-decoration-line: underline;
        text-decoration-style: dashed;
        text-decoration-color: $gray-50;
        text-decoration-thickness: 1px;
    }

    a:hover,
    a:focus {
        color: $white;
        outline: 0;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: $orange;
    }

    a:visited {
        opacity: 0.9;
    }
}

.g-upper-body .tool a:hover,
.g-upper-body .tool a:hover .fa {
    color: $accent;
}

// Main Content Area
//------------------------------------------------------------------------------

.g-upper-body h1.headline {
    font-weight: 800;
}

.g-body .g-main-content span[style*="text-decoration"][style*="underline"]:has(> a) {
    // Google docs sends link underlines as a wrapped span, gotta get rid of that
    text-decoration: none !important;
}
.g-body .g-main-content a {
    color: $maroon;

    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $orange;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    font-weight: 500;
}

.g-body .g-main-content > * {
    margin-bottom: 1.125em;
}

.g-body .g-main-content p {
    margin-bottom: 1em;
}
.g-body .g-main-content p:empty {
    // Hide empty p tags that google docs incentivizes you creating
    display: none;
}

.g-body .g-main-content :is(ul, ol) {
    margin-bottom: 1em;
}

.g-body .g-main-content li + li {
    margin-top: 0.5rem;
}
.g-body .g-main-content li:empty {
    // Hide any empty list items
    display: none;
}

.g-body .g-left-panel .section-kicker {
    text-transform: uppercase;
    font-weight: 700;
}

.g-body .g-left-panel ul:is(.section, .sibling) li:has(> a:empty) {
    // Hides empty links in the sidebar
    display: none;
}
.g-body .g-left-panel ul:is(.section, .sibling):has(ul.subsection) > li {
    font-weight: 500;
    padding-block: 8px;
}
.g-body .g-left-panel ul:is(.section, .sibling) li:has(+ li > ul.subsection) {
    // Checks if this li has a subsection following it since the markup isn't actually heirarchical for some reason
    border-bottom: 0;
    padding-block-end: 0;
}
.g-body .g-left-panel ul:is(.section, .sibling) li:has(> ul.subsection) {
    padding-block-start: 2px;
}

// Search Page
//------------------------------------------------------------------------------

#main-search-page .main-item .branding .branding-label,
.masthead .container .branding .branding-label {
    font-weight: 700;
}
